/* styles/Home.module.css */
.pageWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    .container {
      height: 100vh;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      height: 90vh;
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .main {
      flex-direction: row;
    }
  }

  .add {
    border-radius: 20px;
  }
  
  .imageSection, .contentSection {
    flex: 1;
    overflow-y: hidden;
    position : relative;
    padding: 20px;
  }
  
  .imageSection {
    display: flex;
    flex-direction: column; /* 추가 */
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .searchBar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
  }
  
  .tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .buttons button {
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .recommendations {
    display: grid;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .recommendations {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .recommendationItem {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
  }
  
  .switch {
    position: sticky;
    top: 1rem;
    align-self: flex-end; /* 추가 */
    z-index: 40;
    margin-bottom: 1rem; /* 추가 */
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 2.25em;
    height: 1.25em;
    background-color: gray;
    transition: 0.4s;
    border-radius: 1.25em;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    height: 1em;
    width: 1em;
    left: 0.125em;
    top: 0.125em;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: tomato;
  }
  
  input:checked + .slider::before {
    transform: translateX(1em);
  }
  