/* styles/NotificationModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1000;
  }
  
  .modalContent {
    position: absolute;
    background-color: white;
    color : black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .arrow {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
  }
  
  .notificationList {
    list-style-type: none;
    padding: 0;
  }
  
  .notificationItem {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .notificationItem:last-child {
    border-bottom: none;
  }
  
  .closeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: #e0e0e0;
  }