.pointContainer {
    width:100%; 
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
    background: #ffc6fc; /* 색상을 더 부드럽게 조정 */
    color: white;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 강도를 줄임 */
    overflow: hidden;
    position: sticky; /* Sticky positioning */
    top: 0; /* 화면 상단에서 0px 위치에 고정 */
    z-index: 10; /* 필요에 따라 z-index를 조정하여 다른 요소 위에 표시되도록 함 */
  }
  
  .pointContainer::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2), transparent);
    z-index: 1;
  }
  
  .pointText {
    flex: 1;
    z-index: 2;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .animatedIcon {
    animation: pulse 2s infinite; 
    width: 48px;
    height: 48px;
    z-index: 2;
  }
  
  .pointText h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.3); 
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    50% {
      transform: scale(1.05); /* 스케일 조정을 약간 부드럽게 */
      opacity: 0.6; /* 애니메이션의 중앙 투명도를 부드럽게 조정 */
    }
    100% {
      transform: scale(1);
      opacity: 0.9; /* 애니메이션의 끝 투명도를 부드럽게 조정 */
    }
  }
  