.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.searchButton {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #792EC0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.resultsList {
    margin: 20px 0;
}

.resultItem {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.resultItem:hover {
    background-color: #f9f9f9;
}

.noResults {
    font-size: 16px;
    color: #888;
}

.mapContainer {
    position: relative;
    height: 75vh;
    margin-bottom: 10px;
}

.svg-background {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdHJldmVsb2FkPSJ...');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
